.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgba(#f7f7f7, 0.7);
  margin: 0 7.5px 15px;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &.large {
    min-height: 380px;
  }

  .background-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    transition: all 1s ease-out;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #333, $alpha: 0.7);
    border: 1.5px solid rgba(#f7f7f7, 0.7);
    transition: all 0.1s ease-out;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: rgba($color: #fff, $alpha: 0.7);
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      color: rgba($color: #fff, $alpha: 0.7);
    }
  }

  &:hover {
    .content {
      background-color: rgba($color: #333, $alpha: 0.9);
    }

    .background-image {
      transform: scale(1.1);
    }
  }
}
