.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 5px 10px;
      font-size: 20px;
      transition: all 0.2s ease-out;
      border-bottom: 2px solid transparent;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        color: #aad5f8;
        border-bottom: 2px solid #aad5f8;
      }
    }
  }
}
