.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 5px 10px;
      font-size: 20px;
      transition: all 0.2s ease-out;
      border-bottom: 2px solid transparent;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        color: #aad5f8;
        border-bottom: 2px solid #aad5f8;
      }

      &__sign {
        border: none;
        color: #f7f7f7;
        padding: 10px 20px;
        // border-radius: 3px;
        margin-left: 10px;

        &:hover {
          color: #f7f7f7;
          border: none;
        }

        &--in {
          background-color: #4285f4;

          &:hover {
            background-color: #3773d4;
          }

          &:active {
            background-color: #5a97f8;
          }
        }

        &--out {
          background-color: #ce466d;

          &:hover {
            background-color: #bb3058;
          }

          &:active {
            background-color: #e4859f;
          }
        }
      }
    }
  }
}
