body {
  font-family: 'Open Sans Condensed', sans-serif;
  // background-color: #f0f2fc;
  // background-color: rgb(5, 49, 49);
  background-color: rgb(4, 31, 31);
  padding: 20px 60px;
  box-sizing: border-box;
  color: #f7f7f7;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(4, 31, 31);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(160, 160, 160);
    border-radius: 100px;
  }
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

* {
  box-sizing: border-box;
}
